<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="PasteBinUrl" value="pastebin.ca" />
        <add key="RedirectToStdout" value="false" />
        <add key="OverwriteExisting" value="false" />
	<add key="Verbose" value="false" />
    </appSettings>
</configuration>

